{% extends 'base.template.html'%}
{%load static%}

{%block title%}Swee...eat{%endblock%}

{%block content%}
	<div class="container-fluid text-center">
    <h1 class="main-logo"> <i class="fas fa-stroopwafel main-logo"></i>&nbsp;Swee...eat</h1>
	</div>

	<div class="card mt-5">
		<div class="row">
			<div class="col-md-8 align-items-center d-flex justify-content-center">
				<div class="p-3">
					<h3 class="h3-ctm">CONTACT US</h3>
					<p class="p-ctm">
						<br>520 Lovely Road, Singapore 979520<br>
						<br>Monday: CLOSED
						<br>Tuesday - Saturday: 10am to 5pm
						<br>Sunday: 10am to 2pm<br>
						<br>Landline: 6520 9909
						<br>WhatsApp: 9012 5207</p>
						<div class="container-fluid text-center pt-4 pb-5">
							<a class="btn-custom" href="mailto:sweeeatreats@gmail.com" role="button"
								style="text-decoration: none">SEND US AN EMAIL</a>
						</div>
				</div>
			</div>
			<div class="col-md-4">
				<img class="img-fluid" src="{%static 'img/home_cardimage2.jpeg'%}" alt="">
	            </div>
			</div>
		</div>

{%endblock%}