{% extends 'base.template.html'%}
{%load static%}

{%block title%}Swee...eat{%endblock%}

{%block content%}
	<div class="container-fluid text-center">
    <h1 class="main-logo"> <i class="fas fa-stroopwafel main-logo"></i>&nbsp;Swee...eat</h1>
	</div>

    <div class="container-fluid text-center pt-4 pb-5">
    <a class="btn-custom" href="{% url 'all_products_route' %}" role="button" style="text-decoration: none">SHOP NOW</a>
	</div>
    

    <div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect justify-content-center">
				<img class="img-responsive img" src="{%static 'img/home_cupcakes.jpg'%}" alt="">
				<div class="overlay">
					<h2>CUPCAKES</h2>
					<p class="text p-0 m-0">
                        Our signature cupcakes are baked fresh daily and make use of only the highest quality gourmet ingredients. Offering a wide assortment of flavours all lovingly handmade from scratch, every bite is choc-a-block crammed with moist fluffy goodness and delivers a true decadent experience at its best. They are available everyday.
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_chocolates.jpg'%}" alt="">
				<div class="overlay">
					<h2>CHOCOLATE TRUFFLES</h2>
					<p class="text p-0 m-0">
						Our Chocolate Truffles are bite-sized morsels of chocolate filled with dark chocolate ganache and an assortment of ingredients.

                        Like delicate jewels, Swee..eat’s artisanal truffles make excellent gifts for all occasions. Retailing in 18pc and 36pc Gorgeous Truffles black boxes, flavours include Dark Chocolate, Champagne, Hazelnut, Double Espresso and Caramel Brittle.
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_macarons.jpg'%}" alt="">
				<div class="overlay">
					<h2>MACARONS</h2>
					<p class="text p-0 m-0">
						Swee...eat has added our signature fruit and tea flavours to the recipe, transforming the macaron into a uniquely memorable confection, handcrafted with the most exceptional ingredients, where two sweet pieces of delicate meringue made with almond powder and egg whites meet a luxuriously smooth fruit, tea-infused ganache.
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_cakes.jpg'%}" alt="">
				<div class="overlay">
					<h2>WHOLE CAKES</h2>
					<p class="text p-0 m-0">
						Swee...eat’s signature cakes are like the crème of the crop in our fruit and chocolate cakes collection. We could never get enough of fruits and chocolate! Since we love to spread the flavourful joy of cocoa and fruits to both the young and old, we have put together a signature spread of chocolate and fruit cakes if you want something special from Swee...eat.
					</p>
				</div>
			</div>
		</div>
    </div>

    <div class="card mt-5">
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="{%static 'img/home_cardimage1.jpeg'%}" alt="">
		            </div>
				<div class="col-md-8 align-items-center d-flex justify-content-center">
					<div class="p-3">
						<h3 class="h3-ctm text-center">CELEBRATE EVERYDAY MOMENTS</h3>
						<p class="p-ctm text-center"><br>A party without a cake is just a meeting.<br>Find out what we have to offer for all your special moments in life.</p>
                        <p class="p-ctm-2 text-center"><br>“Live less out of habit and more out of intent.”<br>-Swee...eat</p>
					</div>
				</div>
			</div>
    </div>

    <div class="card mt-5">
        <div class="row">
            <div class="col-md-8 align-items-center d-flex justify-content-center">
                <div class="p-3">
                <h3 class="h3-ctm">OPERATING HOURS</h3>
				<p class="p-ctm">
					<br>Monday: CLOSED
					<br>Tuesday - Saturday: 10am to 5pm
                    <br>Sunday: 10am to 2pm
					<br>Landline: 6520 9909
                    <br>WhatsApp: 9012 5207</p>
                </div>
            </div>
            <div class="col-md-4">
            <img class="img-fluid" src="{%static 'img/home_cardimage2.jpeg'%}" alt="">
            </div>
        </div>
    </div>
{%endblock%}

