{% extends 'base.template.html'%}
{%load static%}

{%block title%}Swee...eat{%endblock%}

{%block content%}
	<div class="container-fluid text-center">
    <h1 class="main-logo"> <i class="fas fa-stroopwafel main-logo"></i>&nbsp;Swee...eat</h1>
	</div>

    <div class="container-fluid text-center pt-4 pb-5">
    <a class="btn-custom" href="{% url 'all_products_route' %}" role="button" style="text-decoration: none">SHOP NOW</a>
	</div>

    <div class="container fluid align-items-center">
		<div class="row">
            <div class="container fluid col-md-6 d-flex justify-content-center">
            <img src="{%static 'img/cupcake.jpeg'%}" alt="Cupcake" class="image img-fluid">
            <div class="overlay">
                <div class="text">CUPCAKES</div>
            </div>
            </div>

            <div class="container fluid col-md-6 d-flex justify-content-center">
            <img src="{%static 'img/cupcake.jpeg'%}" alt="Cupcake" class="image img-fluid">
            <div class="overlay">
                <div class="text">CHOCOLATE PRALINE</div>
            </div>
            </div>
        </div>
	</div>
    
    <br>

    <div class="container fluid align-items-center">
		<div class="row">
            <div class="container fluid col-md-6 d-flex justify-content-center ">
            <img src="{%static 'img/cupcake.jpeg'%}" alt="Cupcake" class="image img-fluid">
            <div class="overlay">
                <div class="text">MACARONS</div>
            </div>
            </div>

            <div class="container fluid col-md-6 d-flex justify-content-center">
            <img src="{%static 'img/cupcake.jpeg'%}" alt="Cupcake" class="image img-fluid">
            <div class="overlay">
                <div class="text">WHOLE CAKES</div>
            </div>
            </div>
        </div>
	</div>
         
{%endblock%}