{% extends 'base.template.html'%}
{%load static%}

{%block title%}Swee...eat{%endblock%}

{%block content%}
	<div class="container-fluid text-center">
    <h1 class="main-logo"> <i class="fas fa-stroopwafel main-logo"></i>&nbsp;Swee...eat</h1>
	</div>

    <div class="container-fluid text-center pt-4 pb-5">
    <a class="btn-custom" href="{% url 'all_products_route' %}" role="button" style="text-decoration: none">SHOP NOW</a>
	</div>
    

    <div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect justify-content-center">
				<img class="img-responsive img" src="{%static 'img/home_cupcakes.jpg'%}" alt="">
				<div class="overlay">
					<h2>CUPCAKES</h2>
					<p>
						<a href="#">LINK HERE</a>
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_chocolates.jpg'%}" alt="">
				<div class="overlay">
					<h2>CHOCOLATE PRALINE</h2>
					<p>
						<a href="#">LINK HERE</a>
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_macarons.jpg'%}" alt="">
				<div class="overlay">
					<h2>MACARONS</h2>
					<p>
						<a href="#">LINK HERE</a>
					</p>
				</div>
			</div>
		</div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div class="hovereffect">
				<img class="img-responsive" src="{%static 'img/home_cakes.jpg'%}" alt="">
				<div class="overlay">
					<h2>WHOLE CAKES</h2>
					<p>
						<a href="#">LINK HERE</a>
					</p>
				</div>
			</div>
		</div>
    </div>
    <!--<div class="container fluid align-items-center">
		<div class="row">
            <div class="container fluid col-md-6 d-flex justify-content-center">
            <img src="{%static 'img/home_cupcakes.jpg'%}" alt="Cupcake" class="image img-fluid">
            <div class="#">
                <div class="text">CUPCAKES</div>
            </div>
            </div>

            <div class="container fluid col-md-6 d-flex justify-content-center">
                <div class="#">
                    <img src="{%static 'img/home_chocolates.jpg'%}" alt="Cupcake" class="image img-fluid">
                    <div class="#">
                        <p class="text">CHOCOLATE PRALINE</p>
                    </div>
                </div>
            </div>
        </div>
	</div>

    <br>

    <div class="container fluid align-items-center">
		<div class="row">
            <div class="container fluid col-md-6 d-flex justify-content-center ">
            <img src="{%static 'img/home_macarons.jpg'%}" alt="Cupcake" class="image img-fluid">
            <div class="#">
                <div class="text">MACARONS</div>
            </div>
            </div>

            <div class="container fluid col-md-6 d-flex justify-content-center">
            <img src="{%static 'img/home_cakes.jpg'%}" alt="Cupcake" class="image img-fluid">
            <div class="#">
                <div class="text">WHOLE CAKES</div>
            </div>
            </div>
        </div>
	</div>-->
         
{%endblock%}