{% extends 'base.template.html'%}
{%load static%}

{%block title%}Swee...eat{%endblock%}

{%block content%}
	<div class="container-fluid text-center">
    <h1 class="main-logo"> <i class="fas fa-stroopwafel main-logo"></i>&nbsp;Swee...eat</h1>
	</div>

<div class="card mt-5">
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="{%static 'img/home_cardimage1.jpeg'%}" alt="">
		            </div>
				<div class="col-md-8 align-items-center d-flex justify-content-center">
					<div class="p-3">
						<h3 class="h3-ctm text-center">OUR STORY</h3>
						<p class="p-ctm justify-left">Established in 2020, Swee...eat is a Singapore bakery specialising in cupcakes, chocolate truffles, macarons and whole cakes for birthdays, weddings and all types of celebrations. <br><br>We strive to create new and original designs, as well as unique flavour pairings that intrigue and excite. We keep our baking batches small to ensure freshness and quality. 

                        <br><br>Our recipes are meticulously taste-tested and tailored to local palates, meaning that they are lower in sugar, moist and tender. We also offer a range of healthier cake options for those with special dietary requirements - as purveyors of cake, we strive to offer something delicious for everyone.</p>
					</div>
				</div>
			</div>
    </div>

{%endblock%}

