{% extends "base.template.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!--Crispy Form-->
<style>
label{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ff644e;
}

input{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ff644e;
}
</style>
<div class="row">
	<div class="col-md-3"></div>
	<div class="card text-center col-md-6">
		<div class="card-body">
			<h1 class="card-title-login text-center">{% trans "Register" %}</h1>
			<div class="card-body">
				<p class="text-signup">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
						in</a>.{% endblocktrans %}</p>

				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					{{ form.as_p }}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
					<button class="btn-login" type="submit">{% trans "Sign Up" %} &raquo;</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}
