body {
    background-image: url("img/marble_bg.jpeg");
}

.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}

.main-logo{
    font-family: 'Dancing Script', cursive;
    font-style: bold;
    color: #ff644e;
}


@media screen and (min-width: 601px) {
  .main-logo {
    font-size: 130px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 60px;
  }
}


/*Header and NavBar*/
.header-ctm {
    background-color: black;
    color: #ff968d;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color: #ff968d;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-style: bold;
    color: #ff968d;
    font-size: 25px;
}

a.navbar-brand:hover {
    color:white;
    text-decoration: none;
}

.navbar-toggler {
  border-color: #f41f4e;
}
.nav-link {
    font-family: 'Lato', sans-serif;
    font-style: bold;
    color: white;
}

.nav-link:hover {
    font-family: 'Lato', sans-serif;
    font-style: bold;
     color:#f41f4e;
}

/* Content Container*/
@media screen and (min-width: 601px) {
    .content-ctm {
        padding-top: 140px;
    }
}

@media screen and (max-width: 600px) {
    .content-ctm {
        padding-top: 200px;
    }
}


/* Home Page*/
.btn-custom {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    padding: 14px 40px;
}

.btn-custom:hover{
     background: #ff968d;
     color:white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14px;
  right: 0;
  height: 100%;
  width: 93%;
  opacity: 0;
  transition: .7s ease;
  background-color: black;
}

.overlay:hover{
  opacity: 0.7;
}

.text {
  font-family: 'Lato', sans-serif;
  color: #ff968d;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
