{% extends 'base.template.html'%}
{%load static%}

{%block title%}Show All Products{%endblock%}

{%block content%}
    <h1>Show All Products</h1>

<table class="table mt-2">
	<tbody>
		{%for product in products %}
		<tr>
			<td>

				<div class="row mt-4 mb-4">
					<div class="col-sm-6 media cards-gallery">
						<img src="{%static 'img/cupcake.jpeg'%}" class="img-fluid">
					</div>

					<div class="col-sm-6 align-self-center align-items-center">


						<div class="col m-0 pl-0 pb-3">
							<h3>{{product.name}}, {{product.category}}</h3>
						</div>

						<div class="col m-0 pl-0 pb-3">
							<h6>{{product.description}}</h6>
                            <ul><li>{{product.tags}}</li></ul>
						</div>
                        <div class="col m-0 pl-0 pb-3">
							<h6>{{product.price}}</h6>
						</div>
                        <div class="col m-0 pl-0 pb-3">
							<a class="btn btn-primary" href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
						</div>

					</div>
				</div>
			</td>
		</tr>
		{%endfor%}
	</tbody>
</table>
{%endblock%}