{% extends 'base.template.html'%}
{%load static%}

{%block title%}Show All Products{%endblock%}

{%block content%}
	<h1>Show All Products</h1>
	
         <div class="card-column row d-flex justify-content-around">
       
        {%for product in products %}
        
            <div class="card mt-4" style="width: 20rem;">
                <img class="card-img-top" src="{%static 'img/cupcake.jpeg'%}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'view_product_route' product_id=product.id %}"><h5 class="card-title">{{product.name}}</h5></a>
                    <p class="card-text">{{product.description}}</p>
                            
                    <div class="col m-0 pl-0 pt-2">
                        <a class="btn btn-primary" href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
                    </div>
                    <div class="card-footer mt-2">
                        <small class="text-muted">{{product.category}}</small>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>

	
        <!--
        <table class="table mt-2">
        {%for product in products %}

		<tr>
			<td>

				<div class="row mt-4 mb-4">
					<div class="col-sm-6 media cards-gallery">
						<img src="{%static 'img/cupcake.jpeg'%}" class="img-fluid">
					</div>

					<div class="col-sm-6 align-self-center align-items-center">


						<div class="col m-0 pl-0 pb-3">
							<h3>{{product.name}}, {{product.category}}</h3>
						</div>

						<div class="col m-0 pl-0 pb-3">
							<h6>{{product.description}}</h6>
                            {%for tag in product.tags.all %}
                            <span class="badge badge-pill badge-primary">{{tag.title}}</span>
                            {%endfor%}
						</div>
                        <div class="col m-0 pl-0 pb-3">
							<h6>{{product.price}}</h6>
						</div>
                        <div class="col m-0 pl-0 pb-3">
							<a class="btn btn-primary" href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
						</div>

					</div>
				</div>
			</td>
		</tr>
</tbody>
</table>
{%endfor%}
-->
{%endblock%}