{% extends 'base.template.html'%}
{% load cloudinary %}
{%load static%}

{%block title%}Show All Products{%endblock%}



{%block content%}

				<div class="row mt-4 mb-2">
					<div class="col-sm-6 media cards-gallery">
                        {% cloudinary product.cover class="img-fluid"%}
					</div>

					<div class="col-sm-6 align-self-center align-items-center">
                        <div class="col-sm-12">
                            <h2 class="h2-ctm-d mt-2">{{product.name}}</h2>
                            <h3 class="h3-ctm-d">{{product.category}}</h3>

                            <div class="col-sm-12 p-0">
                                <h3 class="h3-ctm-d">${{product.price}}</h3>
                            </div>
                            
                            <div class="col-sm-12 p-0 m-0">
                            <h4 class="m-0 h4-ctm-d mt-3 mb-3">{{product.description}}</h4>
                            </div>

                            <div class="col-sm-12 p-0 mb-2">
                            {%for tag in product.tags.all %}
                            <span class="badge badge-pill">{{tag.title}}</span>
                            {%endfor%}
                            </div>

                            <div class="mt-3">
							{% if not request.user.is_authenticated %}
							<p class="h4-ctm-d">To make a purchase, please <a href="{%url 'account_login'%}">Sign in</a> or <a href="{%url 'account_signup'%}">Register an account</a> with us.</p>
							{% endif %}
							{% if request.user.is_authenticated %}
							<a class="btn btn-cart" href="{% url 'add_to_cart' product_id=product.id %}">Add to Cart&nbsp;<i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                <a class="btn btn-review" href="{% url 'create_review_route' product_id=product.id %}">Add a Review&nbsp;<i class="far fa-comments"></i></a>
							{% endif %}

							{% if request.user.is_superuser %}
							<br><a class="btn btn-edit" href="{% url 'update_product_route' product_id=product.id %}">Edit</a>
                                <a class="btn btn-delete" href="{% url 'delete_product_route' product_id=product.id %}">Delete</a>
							{% endif %}
                            </div>

                            <div class="pt-5">
                                <a href="{% url 'all_products_route' %}" role="button" class="text-shop" style="text-decoration: none"><i class="fas fa-arrow-circle-left"></i> continue shopping <i class="fas fa-store"></i></a>
                            </div>
					    </div>
				    </div>
				</div>
                <div>
                

                <h2 class="mt-4 h2-ctm-d">Reviews</h2>
                {%for review in product.review_set.all %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                            <h2>{{review.title}}</h2>
                            </div>

                            <div>
                            <h3 class="h3-ctm-r">{{review.content}}</h3>
                            </div>

                            <p class="h4-ctm-r">Commented by {{review.user.username}} on {{review.date}}</p>

                            {% if request.user.is_authenticated %}
                            <div class="d-flex justify-content-end">
                            <a class="text-edit-r" style="text-decoration: none" href="{% url 'update_review_route' review_id=review.id %}"><i class="far fa-edit"></i></a>
                            <a class="text-edit-r pl-3" href="{% url 'delete_review_route' review_id=review.id %}"><i class="far fa-trash-alt"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {%endfor%}

                </div>


{%endblock%}